<% link_to(@board.title, boards_path(@board)) %>
<hr>
<h1>Boards#edit</h1>
<%= form_tag(board_path(@board), method: :put) do %>
  タイトル: <%= text_field_tag :title, @board.title %> <br>
  作成者名: <%= text_field_tag :editor, @board.editor %> <br>
<%= submit_tag %>
<% end %>

